@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculator {
    background-color: rgb(58, 58, 58);
    width: 380px;
    height: 500px;
    border-radius: 3%;
    @include flexbox;
}

#dp-container {
    width: 320px;
    height: 90px;
    outline: 1px solid black;
    background-color: white;
    position: relative;
    margin-bottom: 10px;

    #formula {
        height: 30px;
        width: 80%;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 1.2rem;
        text-align: right;
    }
    #display {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 1.5rem;
    }
    
    
}

#btn-container {
    width: 320px;
    height: 350px;
    @include flexbox;
    div.row {
        width: 100%;
        display: flex;
        flex-direction: row;
        button {
            width: 80px;
            height: 70px;
            border: none;
            outline: 1px solid black;
            flex: auto;
            cursor: pointer;
            font-size: 1.2rem;
            background-color: #ebebeb;
            &:hover {
                background-color: #c6c6c6
            }
        }
    }

}
